.git
.gitignore
.env
.env.*
!.env.example
.phpunit.result.cache
bootstrap/cache/*.php
Dockerfile*
README.md
node_modules
npm-debug.log
nul
public/build
public/hot
public/storage
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/*.key
storage/logs/*
tests
vendor
